
module mypol 1.0;

require {
	type http_port_t;
	type mongod_t;
	type unreserved_port_t;
	class tcp_socket name_bind;
}

#============= mongod_t ==============
allow mongod_t http_port_t:tcp_socket name_bind;
allow mongod_t unreserved_port_t:tcp_socket name_bind;
